.comments {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.comment {
  display: flex;
  gap: 2rem;

  &__image {
    width: 44px;
    height: 44px;
    background-color: lightcoral;
    border-radius: 50%;
  }

  &__author {
    margin: 0;
  }
}
