.login {
  border: 1px solid black;
  width: 400px;
  margin: auto;
  padding: 2rem;

  &__label {
    display: block;
    margin-bottom: 8px;
  }

  &__input {
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid lightgray;
    height: 2rem;
  }
}
